bin/
obj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

*.nupkg
packages/
project.lock.json
project.assets.json
nuget.cache
*.nuget.props
*.nuget.targets

*.apk
*.aab
*.ipa

**/android/assets/
**/android/bin/
**/android/obj/

**/ios/bin/
**/ios/obj/
*.xcuserstate

Thumbs.db
.DS_Store

*.log

.idea/